header {
    padding: 30px;
}

header h3 {
    float: center;
}

header a {
    float: right;
}

.mylabel {
    margin: 0;
}

.workout-container{
    background-color: aliceblue;
    padding: 20px;
    margin: 10 px 0;
    border-radius: 8 px;
    text-align: left;
    width: 60%;
}